/*fonts*/
@font-face {
    font-family: RecoletaBlack;
    src: url(Recoleta-Black.ttf);
}

@font-face {
    font-family: RecoletaMedium;
    src: url(Recoleta-Medium.ttf);
}

@font-face {
    font-family: RecoletaRegular;
    src: url(Recoleta-Regular.ttf);
}

@font-face {
    font-family: RecoletaSemi;
    src: url(Recoleta-SemiBold.ttf);
}

html {
    scroll-behavior: smooth;
  }

/*color change on scroll */
body {
    height: 2500px;
}
body.light {
    background-color: #EBD6C6;
    transition: all 2s;
}

body.dark {
    background-color:#1e3453;
    transition: all 2s;
}

body.green {
    background-color:#A4C3B2;
    transition: all 2s;
}

/*hero section*/
#hero {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#hero img {
    width: 100%;
    border-radius: 0;
    
}

#heroimg {
    position: relative;
}

#hero p , #timetext {
    font-family: 'RecoletaRegular', serif;
    font-size: 60px;
    color: white;
    margin-bottom: 0;
}

#timetext {
    font-family: "RecoletaSemi", serif;
    
}

#description p {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    width: 40%;
}

#herotext {
    position: absolute;
    top: 45%;
    left: 10%;
}


/* nav bar */

nav ul {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding-left: 0px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    
  }
  
  nav ul li {
    list-style-type: none;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 60px;

    transition: all .2s ease-in-out;
    
  }
  

/* nav links */
.grow {
    transition: transform .2s;
    
}

.grow:hover {
    transform: scale(1.1);
    font-weight: 700;
    text-shadow: white 2px 2px;
    
}

.grow nav ul li a {
    text-decoration: none;
    font-weight: 600;
    
  }

  nav ul li a:visited {
    color: black;
  }

  nav ul li a:link {
    color: black;
    text-decoration: none;
    
  }


/*image styles*/
section img {
    border-radius: 100px;
    border-width: 2px;
    justify-content: space-between;
}

.zoom, .zoom2 {
    overflow: hidden;
    width: 520px;
    height: 520px;
    position: relative;
    border-radius: 50%;


}

.zoom2 {
    float: right;
    margin-top: 100px;
}

.top.section {
    position: relative;
    margin-left: 100px;
    margin-top: 120px;
    margin-bottom: 150px;
}

.middle.section {
    margin-right: 100px;
}

.top.section img, .middle.section img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.headerspin img{
    width: 35%;
    animation: rotation 5s alternate;
    position: absolute;
    z-index: 1;
    left: 400px;
    top: 1000px;

    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -5s);
 }

 .unit {
    position: relative;
}

.headerspin2 img {
    width: 40%;
    animation: rotation 5s infinite linear;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 100px;

    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -5s);
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
            
    }
    to {
            transform: rotate(359deg);
    }
}


.morning.image img {
    background-color: #DCB494;
    box-shadow: #9c6644 5px 5px 5px;
    border-radius: 50%;
}

.night.image img {
    background-color: #355F9A;
    box-shadow: #101e31 5px 5px 5px; 
    border-radius: 50%;
}

.misc1 img {
    background-color: #7C9D8B;
    box-shadow: #546d5f 5px 5px 5px;
    border-radius: 50%;
}

section {
    margin: auto;
    width: 80%; 
    
} 

/*headings*/

h1 {
    overflow: visible;
    font-family: "RecoletaBlack", serif;
    font-weight: bold;   

    color: #7f5539;
    text-align: center;
    font-size: 76px;
    text-shadow: 4px 2px #b08968, 7px 6px #ddb892;
    letter-spacing: 5px;
}

h2 {
    font-family: "RecoletaMedium", serif;
    font-weight: Medium;  
    font-size: 36px;
    margin-left: 140px;
    color: white;
 
}

#nightHeader h2 {
    margin-top: 850px;
    color: white;
    margin-left: 280px;
}


.gm img {
    width: 20%;
}

.gn h2 {
    position:absolute;
    top: 1500px;
    left: 200px;
    font-size: 120px;
    color: white;
    line-height: .95;
}

.gm p {
    position: relative;
    top: 90%;
    left: 50%;
    font-family: "Karla", serif;
    font-size: 24px;
    width: 40%;
    color: white;
    line-height: 1.25;
    background-color: #dcc2ad;
    padding: 20px;
    border-style: solid;
    border-color: white;
    box-shadow: white 5px 7px;
}


.ptitle {
    font-family: RecoletaSemi, serif;
    color: white;
    font-size: 28px;
}

.gn {
    position: relative;
}

.gn p {
    position: relative;
    left: 150px;
    top: 650px;
    font-family: "Karla", serif;
    font-size: 24px;
    width: 35%;
    color: white;
   
    line-height: 1.25;
    padding: 20px;
    border-style: solid;
    border-color: white;
    box-shadow: white 5px 7px;
}


.morning.image, .night.image, .night2.image, .misc1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    grid-row-gap: 50px;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    
}

.morning.image img, .night.image img, .misc1 img{
    margin-bottom: 60px;
}

.morningp, .nightp, .misc1p {
    font-family: 'Karla', serif;
    font-size: 16px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    height: 70%;

    padding-bottom: 30px;
   
}


.morningp p, .nightp p, .misc1p p {
    margin-bottom: 10px;
}

.title {
    font-family: 'RecoletaSemi', serif;
    font-size: 14px;
}

.morningp {
    box-shadow:  #9c6644 3px 3px, 6px 6px #b08968, 10px 10px #ddb892;
}

.nightp {
    box-shadow:  #89c2d9 3px 3px, 6px 6px #2a6f97, 10px 10px #014f86;
}


.misc1p {
    box-shadow:  #a1cda8 3px 3px, 6px 6px #79b791, 10px 10px #7ba681;
}


/*quotes*/


/* .textbox {
    width: 100%;
    border-style: double;
    border-width: 10px;
    border-color: white;
    margin-bottom: 100px;
    margin-top: 100px;
}
 */
#typing {
    width: 65%;
    font-family: 'RecoletaMedium', serif;
    font-size: 100px;
    color: white;
    padding: 50px;
    text-shadow: #88bace 3px 3px ;
    margin-top: 100px;    

}

#typing2 {
    width: 80%;
    font-family: 'RecoletaMedium', serif;
    font-size: 100px;
    color: white;
    text-shadow: #6fa885 3px 3px ;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#starttype {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 100px;
    background-color: #89c2d9;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'RecoletaSemi', serif;
    font-size: 56px;
    color: white;

 
    animation: bounce 1s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
}


#starttype2 {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;

    background-color: #7ba681  ;
    border-style: none;
    border-radius: 20px;
    padding: 10px;

    font-family: 'RecoletaSemi', serif;
    font-size: 56px;
    color: white;

    animation: bounce 1s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
}


@keyframes bounce{ 
    from { transform: translate3d(0, -10px, 0);} 
    to { transform: translate3d(0, 10px, 0);} 
} 

#starttype:hover {
   cursor: pointer;
    transition: .5s ease;
    background-color: #2a6f97;
    box-shadow: #89c2d9 4px 3px;

}

#starttype2:hover {
    cursor: pointer;
     transition: .5s ease;
     background-color: #547559;
     box-shadow: #74a87d 4px 3px;
 
 }
 

@keyframes colorBlue {
    0% {background-color: #7c5040;}
    33% {background-color: #014f86;}
    66% {background-color:  #7ba681;}
    100% {background-color: #7c5040;}
  }

/* hover animations for products
 */
 #vitac:hover, #gbr:hover, #missha:hover, #kale:hover, #toner:hover,#snail:hover,
 #blume:hover,#tret:hover,#oil:hover,  #innisfree:hover, #cetaphil:hover, #patch:hover{
    transition: .6s;
    animation: rotation 10s infinite linear;
    background: none;
    box-shadow: none;
    overflow:none;

}

@keyframes rotation {
    from {
            transform: rotate(0deg);
            
    }
    to {
            transform: rotate(359deg);
    }
}


/*buttons to buy*/

button.buy {
    margin-bottom: 80px;
}

.link button{
    position:relative;
    left: 0%;
    margin: auto;

    padding: 2px 5px 2px 5px;
    border: 10px solid transparent;
    background-color: #ddb892;
    border-radius: 22px;
    cursor: pointer;
    font-family: 'RecoletaMedium';
    margin-bottom: 10px;

}



.link2 button{
    position:relative;
    left: 0%;
    margin: auto;

    padding: 2px 5px 2px 5px;
    border: 10px solid transparent;
    background-color: #014f86;
    border-radius: 22px;
    cursor: pointer;
    font-family: 'RecoletaMedium';
    margin-bottom: 10px;

}

.link3 button{
    position:relative;
    left: 0%;
    margin: auto;

    padding: 2px 5px 2px 5px;
    border: 10px solid transparent;
    background-color: #7ba681;
    border-radius: 22px;
    cursor: pointer;
    font-family: 'RecoletaMedium';
    margin-bottom: 10px;

}

.link button:hover {
    transition: .5s ease;
    background-color: #7c5040;
    box-shadow: #ddbea9 4px 3px;
    color: white;
    font-family: 'RecoletaMedium';
}

.link2 button:hover {
    transition: .5s ease;
    background-color: #4089b3;
    box-shadow: #89c2d9 4px 3px;
    color: white;
    font-family: 'RecoletaMedium';
}

.link3 button:hover {
    transition: .5s ease;
    background-color: #547559;
    box-shadow: #a1cda8 4px 3px;
    color: white;
    font-family: 'RecoletaMedium';
}

.link button a, .link2 button a, .link3 button a {
    text-decoration: none;
    color: white;
}

.link button a:visited, .link button a:visited, .link3 button a:visited {
    color: white;
}



.buy {
	position: absolute;
    z-index: 2;
    top: 10px;
    display: none;
   
}
.link:hover .buy, .link2:hover .buy, .link3:hover .buy{ 
    display:block;
    
}

.topbtn {
    background-color : #7c5040;
    color: white;
    border-radius: 50%;
    border-style: none;
    
  }

.topbtn:hover {
    background-color: #7ba681;
    transition: .5s ease;
    animation: colors 3s infinite;
    cursor: pointer;

}

@keyframes colors {
    0% {background-color: #7c5040;}
    33% {background-color: #014f86;}
    66% {background-color:  #7ba681;}
    100% {background-color: #7c5040;}
  }

  
#fixed {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 38px;
    font-family: 'Karla', sans-serif;
   
    
}



.topbtn img {
    margin-bottom: -5px;
}


/*footer styles*/
footer {
    margin: auto;
    background-color:#546d5f;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 100px;

  }

footer p {
    text-align: center;
    display: block;
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 18px;
    color: #A4C3B2;
    
}
footer a:link {
    color: #A4C3B2;
}

/*mouse over link*/
footer a:hover{
    background-color: white;
}

/*visted link*/
footer a:visited{
    color: #A4C3B2;
    text-decoration: none;
} 

footer a:visited{
    color: #A4C3B2;
    text-decoration: none;
} 

/*unvisited link*/
footer a:link{
    text-decoration: none;
  }



