body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    background-color: black;
}

/*containers*/

#instructions {
    margin-top: 100px;
    padding: 0;
    width: 70%;
    margin: auto;
}

div {
    padding: 20px;
}  

#game {
    padding: 0;
   
}

#gamearea {
    width: 90%;
    margin: auto;
}

#gamecontrol {
    position: relative;
    padding:10px;

}

#actions {
    padding: 0;
    margin-top: 35px;
}   

.bg {
    background-color: white;
    border: 25px solid transparent;
    border-image: url(images/borderpurple.svg) 100 stretch;
    background-color: white;
    border-radius: 47px;
    
}

#dicearea {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#rolldice {
    margin-top: 30px;
}

#scorecontainer {
    float: right;
    width: 22%;
    margin-top: 150px;
}

#gameonly {
    width:65%;
}

/*fonts*/
@font-face {
    font-family: Header;
    src: url(04B_30__.TTF);
}

@font-face {
    font-family: RainyHearts, serif;
    src: url(rainyhearts.ttf);
}  

/*headers*/

h1 {
    font-family: Header, serif;
    text-align: center;
    font-size: 60px;
    color: #F08080;
    text-shadow: 2px 2px white;
    
}

h2 {
    text-align: center;
    color: #CAFFBF;
    font-family: "Press Start 2P", serif;
    margin-top: 100px;

}

#pink {
    color:#F08080;
}

#gamecontrol h2 {
    color:black;
    margin-top: 10px;
}

#gamestarted {
    font-size: 16px;
}

/*text*/

#instructions p {
    font-family: RainyHearts;
    font-size: 22px;
}

#gamecontrol p {
    font-family: "Press Start 2p", serif;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    line-height: 1.5;
}

#game p {
    font-family: "Press Start 2p", serif;
    text-align: center;
    width: 40%;
    margin: auto;

}

.pdesign {
    background-color: white;
    color: black;
}

#scorecontainer p {
    font-family: "Press Start 2P";
    text-align: center;
    font-size: 20px;
    color: #F08080;
}

.scorenum {
    font-size: 24px;
}

.players {
    background-color: black;
    color: white;
}

#win {
    padding: 0;
    font-size: 14px;
    text-align: left;
}

#win h2 {
    color:#ffbe0b;
    line-height: 1.5;
}

#sorry {
    width: 70%;
    margin: auto;
    font-family: "Press Start 2P";
    text-align: center;
    font-size: 14px;

}
/*borders*/

.bordergreen {
    border: 25px solid transparent;
    border-image: url(images/border.svg) 100 stretch;
    background-color: white;
    border-radius: 47px;

}

#gamecontainer {
    border: 25px solid transparent;
    border-image: url(images/borderpink.svg) 100 stretch;
    background-color: #fde3e3;
    border-radius: 47px;
    height: 370px;

}

 #scoreboard, #score {
    padding: 0;
} 


/*button*/

.buttonstart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.buttonroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quit {
    position: absolute;
    right: 10px;
    top: 10px;
}

#startgame, button#roll { 
    padding: 5px 12px 5px 12px;
    border: 10px solid transparent;
    border-image: url(images/bordergreen.svg) 80 stretch;
    background-color: white;
    border-radius: 22px;
    background: linear-gradient(#B5E8C9, #D8F8E4);
    cursor: pointer;
}

button#quit {
    padding: 3px 10px 3px 10px;
    border: 10px solid transparent;
    border-image: url(images/borderred.svg) 80 stretch;
    background-color: white;
    border-radius: 22px;
    background: linear-gradient(#F58989, #FFCACA);
    cursor: pointer;
}

button#startgame, button#roll, button#quit{
    font-family: "Press Start 2p", serif;
    text-align: center;
    color: black;
}

#roll {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*action items*/
#rollask {
    font-family: "Press Start 2p", serif;
    font-size: 22px;
    padding: 0;
}

 #actionbtn {
     padding: 0;
     position: relative;
     font-size: 20px;
 }


 #passbtn {
     position: absolute;
     right: 20px;
     padding: 0;
     bottom: 0;
 }

#againbtn {
     position: absolute;
     padding:0;
     right: 120px;
     bottom: 0;
 } 

 #rollagain:hover, #pass:hover {
     cursor: pointer;
 }

 button#pass, button#rollagain {
    border: none;
    background: none;
    font-family: 'Press Start 2P', serif;
}

#againbtn img, #passbtn img {
    display: none;
}

#againbtn:hover img {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 3px;
    margin-right: 18px;

    animation: blink 1s infinite;
}
#passbtn:hover img {
    display:block;
    position: absolute;
    right: 50px;
    bottom: 3px;

    animation: blink 1s infinite;
}

@keyframes blink {
    from {opacity: 0;}
    to {opacity: 1;}
  } 



/*scoreboard */
#p1 {
    padding: 0;
    text-align: center;
    font-family: "Press Start 2P";
    border: 25px solid transparent;
    border-image: url(images/scorered.svg) 100 stretch;
    background-color: white;
    height: 80px;
    border-radius: 45px;

    margin-bottom: 20px;
}

#p2 {
    padding: 0;
    text-align: center;
    font-family: "Press Start 2P";
    border: 25px solid transparent;
    border-image: url(images/scoreblue.svg) 100 stretch;
    background-color: white;
    height: 80px;
    border-radius: 45px;
}